body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../static/limon.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    background-color: transparent; /* Ensure header is transparent */
    color: #fff;
    padding: 10px 0;
    text-align: right;
    width: 100%; /* Ensure header spans the full width */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ff7043;
    text-decoration: none;
}

nav ul li a.button-link {
    background-color: rgba(255, 110, 66, 0.8); /* Semi-transparent white background */
    padding: 5px 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none; /* Ensure no underline */
}

nav ul li a.button-link:hover {
    background-color: rgba(255, 110, 66, 1); /* Fully opaque on hover */
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.main-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    filter: brightness(50%);
}

.centered-text {
    position: absolute;
    color: #ff7043;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 15px;
}

.main-background {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    color: #fff;
}
