body {
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../static/cerezas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: #ff7043;
    margin-top: 0;
}

form {
    max-width: 1400px;
    margin: 50px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ff7043;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="button"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ff7043;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    text-align: left;
    margin-right: 10px;
}

input[type="submit"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #ff7043;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #e65100;
}

button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #e65100;
}

.button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #e65100;
}

p {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

a {
    color: #ff7043;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
