<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Recetas</title>
    <link rel="stylesheet" href="../static/consultarRecetas.css">
    <script src="../static/buscador.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Consultar Recetas</h1>
        <div class="search-bar">
            <input type="text" id="search-recipes" placeholder="Escribe el nombre de la receta...">
            <button type="button" class="search-button">
                <img src="../static/lupita.png" alt="Buscar" class="search-icon">
            </button>
        </div>
        <div class="recipe-card">
            <img src="../static/risotto.jpg" alt="Risotto a los cuatro quesos">
            <div class="content">
                <h2>Risotto a los cuatro quesos</h2>
                <p>El risotto a los cuatro quesos es un cremoso y delicioso plato preparado con arroz cocido lentamente en caldo, enriquecido con una mezcla de quesos parmesano, gorgonzola, fontina y provolone. 
                    Su textura suave y su sabor intenso lo convierten en una opción irresistible para los amantes del queso.</p>
                <a href="/receta/1">Ver más</a>
            </div>
        </div>
        <div class="recipe-card">
            <img src="../static/tarta.jpg" alt="Tarta Banoffee">
            <div class="content">
                <h2>Tarta Banoffee</h2>
                <p>De origen británico, el banoffee pie o tarta banoffee es una combinación de galleta, mantequilla, toffee (o dulce de leche), plátano y nata montada. </p>
                <a href="/receta/2">Ver más</a>
            </div>
        </div>

        <div class="recipe-card">
            <img src="../static/almejas.jpg" alt="Almejas a la marinera">
            <div class="content">
                <h2>Almejas a la marinera</h2>
                <p>Las almejas a la marinera son un clásico plato de la cocina española, preparado con almejas frescas cocinadas 
                    en una salsa aromática a base de ajo, cebolla, tomate, vino blanco y perejil. Su sabor intenso y marinero las convierte en una delicia ideal para acompañar con pan.</p>
                <a href="/receta/3">Ver más</a>
            </div>
        </div>

        <div class="recipe-card">
            <img src="../static/calabacin.jpg" alt="Calabacines a la milanesa">
            <div class="content">
                <h2>Calabacines a la milanesa</h2>
                <p>ELos calabacines a la milanesa son una receta crujiente y deliciosa, donde rodajas de calabacín se empanan con huevo, pan rallado y queso parmesano antes de ser fritas hasta dorarse. Son un 
                    acompañamiento perfecto o un aperitivo irresistible.</p>
                <a href="/receta/4">Ver más</a>
            </div>
        </div>
        <div class="recipe-card">
            <img src="../static/espaguetis.jpg" alt="Espaguetis al limón">
            <div class="content">
                <h2>Espaguetis al limón</h2>
                <p>Los espaguetis al limón son una receta italiana fresca y ligera, elaborada con pasta al dente mezclada con una salsa cremosa a base de jugo y ralladura de limón, mantequilla y queso parmesano. 
                    Su equilibrio entre acidez y cremosidad los hace irresistibles.</p>
                <a href="/receta/4">Ver más</a>
            </div>
        </div>
    </div>
</body>
</html>
