<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deustermix</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: transparent; display: flex; flex-direction: column; min-height: 100vh; background-image: url('https://www.annarecetasfaciles.com/files/tarta-de-queso-de-la-vina.jpg'); background-size: cover; background-repeat: no-repeat;">
    <header style="background-color: transparent; color: #fff; padding: 10px 0; text-align: right; width: 100%;">
        <nav>
            <ul style="list-style: none; padding: 0; margin: 0; display: flex; justify-content: flex-end;">
                <li style="margin: 0 15px; float: right;">
                    <a href="/registro" style="background-color: rgba(255, 110, 66, 0.8); padding: 5px 10px; border-radius: 5px; color: rgb(255, 255, 255); text-decoration: none;" 
                       onmouseover="this.style.backgroundColor='rgba(255, 110, 66, 1)';" 
                       onmouseout="this.style.backgroundColor='rgba(255, 110, 66, 0.8)';">Registrarse</a>
                </li>
                <li style="margin: 0 15px; float: right;">
                    <a href="/login" style="background-color: rgba(255, 110, 66, 0.8); padding: 5px 10px; border-radius: 5px; color: rgb(255, 255, 255); text-decoration: none;" 
                       onmouseover="this.style.backgroundColor='rgba(255, 110, 66, 1)';" 
                       onmouseout="this.style.backgroundColor='rgba(255, 110, 66, 0.8)';">Iniciar sesión</a>
                </li>
            </ul>
        </nav>
    </header>
    <main style="flex: 1; display: flex; justify-content: center; align-items: center; text-align: center; position: relative; width: 100%; height: 80vh; background-size: cover; background-position: center;">
        <div style="position: absolute; color: #ff7043; background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 15px;">
            <h1>Deustermix</h1>
            <p>Descubre las mejores recetas para hacer tus comidas deliciosas y fáciles de preparar.</p>
        </div>
    </main>
    <footer style="text-align: center; padding: 10px; background-color: transparent; color: #fff;">
        <p>&copy; 2024 Nuestras Recetas de Cocina y Thermomix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
