<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/inicio.css">
    <title>Deustermix</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="float: right;"><a href="registro.html" class="button-link">Registrarse</a></li>
                <li style="float: right;"><a href="login.html" class="button-link">Iniciar sesión</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-background">
        <div class="centered-text">
            <h1>Deustermix</h1>
            <p>Descubre las mejores recetas para hacer tus comidas deliciosas y fáciles de preparar.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Nuestras Recetas de Cocina y Thermomix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
