<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deustermix</title>
    <link rel="stylesheet" href="../static/principal.css">
</head>
<body>
    <header>
        <h1>Deustermix</h1>
        <nav>
            <a href="principal.html">Inicio</a>
            <a href="/recetas">Recetas</a>
            <a href="/libros">Libros</a>
            <a href="/perfil">Mi Perfil</a>
        </nav>
    </header>
    <section class="image-section" style="width: 100%;">
        <div class="logo-container">
            <img src="../static/rollitos.jpg" alt="Logo Deustermix">
            <h2>Deustermix</h2>
            <p>Catering y Escuela de Cocina</p>
        </div>
        <a href="/recetas" class="view-recipes">Ver todas las recetas →</a>
        <section class="recipes-section">
            <h2>Próximos Cursos de Cocina</h2>
            <div class="recipes-container">
                <div class="recipe-card">
                    <img src="../static/aperitivos.jpg" alt="Curso Familiar: Especial Aperitivos">
                    <h3>CURSO FAMILIAR: ESPECIAL APERITIVOS</h3>
                    <p>por Rosanna Peruzzi</p>
                    <p>Sábado 21 de 11.30h a 14.30h Focaccinas rellenas, Croquetas de patata, vol au vent de fondue, tejas de parmesano, brick de morcilla, miguelitos salados, tortellini de salchicha, pintxo donosti, pizzette cocktail, mantecados de naranja. Precio del curso adultos 30€</p>
                    <button>¡Me apunto!</button>
                </div>
                <div class="recipe-card">
                    <img src="../static/picoteo.jpg" alt="Picoteo Vestido de Fiesta">
                    <h3>PICOTEO VESTIDO DE FIESTA</h3>
                    <p>por Rosanna Peruzzi</p>
                    <p>Jueves 19 de 18.30h a 21.30h Un delicioso buffet para estas fiestas de la mano del Chef Alfredo Gil Martínez. MENÚ: Vasitos de vichissois, Camambert brulé, Macarons de guacamole, Gambon kataifi, Ave rellena y Coulant de turrón. Precio del curso 50€</p>
                    <button>¡Me apunto!</button>
                </div>
                <div class="recipe-card">
                    <img src="../static/india.jpg" alt="Cocina de la India">
                    <h3>COCINA DE LA INDIA</h3>
                    <p>por Rosanna Peruzzi</p>
                    <p>Miércoles 18 de 19.00h a 22.00h Baigan Bharta (paté de berenjenas), pan naan, samosas de verdura, pollo tikka massala y lassi de mango. Precio del curso 40€</p>
                    <button>¡Me apunto!</button>
                </div>
            </div>
        </section>
    </section>
</body>
</html>
